*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel Decorative', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'PT Sans', sans-serif;
}

/*-----ESTILOS INICIO DE SESION Y REGISTRO DE NUEVA CUENTA-----*/
.inicio-sesion{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro-cuenta{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-principal{
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0.1rem 0.1rem 1rem black;
}

.contenedor-tarjeta{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080202;
}

.contenedor-formulario{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

.tarjeta{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(../img/Aurora\ –\ MagicPattern\ Wallpaper.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 20px;
}

.tarjeta div{
    margin-left: 40px;
}

.tarjeta img{
    width: 10%;
}

.tarjeta-2{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(../img/aurora2.jpeg);
    background-size: cover;
    border-radius: 20px;
}

.tarjeta-2 div{
    margin-left: 40px;
}

.tarjeta-2 img{
    width: 10%;
}

.nombre-cliente{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.nombre-banco h1{
    font-size: 40px;
    color: aliceblue;
}

#nombre-usuario{
    font-size: 25px;
    color: aliceblue;
}

#nombre-usuario-nuevo{
    font-size: 25px;
    color: aliceblue;
}

.nombre-cliente h3{
    font-size: 30px;
    color: aliceblue;
}

.numero-tarjeta p{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
}

/*Fromulario*/
form{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    justify-content: space-between;
    align-items: stretch;
}

form input{
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: #EEEEEE;
}

input::placeholder{
    color: black;
    font-weight: 700;
}

form h1{
    text-align: center;
    font-size: 30px;
}

.boton-entrar{
    align-self: center;
    width: 35%;
    height: 10%;
    margin-top: 30px;
    border: none;
    background-color: #068FFF;
    border-radius: 10px;
    color: #EEEEEE;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

form a{
    color: #068FFF;
    font-weight: bold;
}

/*-----ESTILOS PAGINA PRINCIPAL-----*/
main{
    background-image: url(../img/descarga\ \(2\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} 

.encabezado{
    height:15vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.encabezado h1{
    font-size: 35px;
    letter-spacing: 3px;
}

.logo{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    height: 100%;
    width: 45%;
}

.login{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login h2{
  font-size: 30px;
  text-shadow: 0.1rem 0.1rem 1rem #A742E4;
}

.login button{
    margin: 20px;
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login button:hover{
  box-shadow: 0.1rem 0.1rem 1rem black;
}

.primera-fila{
    height: 42.5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.segunda-fila{
    height: 42.5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-1{
    height: 85%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    border-radius: 10px;
    box-shadow: 0.1rem 0.1rem 1rem black;
}

.card-1 img{
    height: 50%;
}

.card-1 h1{
    font-size: 40px;
}

.card-1 button{
    width: 20%;
    height: 10%;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.card-1 button:hover{
  background-color: #100A38;
  color: #EEEEEE;
}

.card-2{
    height: 85%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    border-radius: 10px;
    box-shadow: 0.1rem 0.1rem 1rem black;
}

.card-2 img{
    height: 50%;
}

.card-2 h1{
    font-size: 40px;
}

.card-2 button{
    width: 20%;
    height: 10%;
    border-radius: 10px;
    cursor: pointer;
}

.card-2 button:hover{
  background-color: #100A38;
  color: #EEEEEE;
}


/*-----ESTILOS CONSULTAR SALDO-----*/
.contenedor-consultar{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EEEDED;
}

.contenedor-consultar img{
    height: 25%;
}

.container{
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-imagen-section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contenedor-saldo-movimientos{
    margin-top: 1%;
    border: 1px solid #100A38;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F6F1EE;
}

.contenedor-saldo-movimientos h1{
    margin-top: 1%;
    font-size: 30px;
}

.contenedor-saldo-movimientos h3{
    margin-top: 1%;
    font-size: 20px;
}

.contenedor-saldo-movimientos h2{
    border-radius: 7px;
    margin-top: 1%;
    width: 80%;
    padding:1%;
    font-size: 25px;
    color: #ffffff;
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}

.boton-volver {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    letter-spacing: 3px;
    border: none;
    background-color: #100A38;
    padding: 18px 30px;
    position: fixed;
    top: 5%;
    right: 10%;
    
}

.boton-volver:hover{
    transform: scale(1.1);
    box-shadow: 0.1rem 0.1rem 1rem black;
    cursor: pointer;
}

.historial{
    border: 2px solid black;
    border-radius: 10px;
    width: 95%;
    height: 60%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.historial article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
    border: 2px solid black;
    height: 15%;
    width: 98%;
    border-radius: 7px;
    font-weight: bold;
}


/*-----ESTILOS RETIRAR-----*/
.contenedor-retirar{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EEEDED;
}

.container-retirar{
    width: 70%;
    height: 90%;
    
}

.contenedor-imagen-section-retirar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.contenedor-retirar img{
    height: 25%;
}

.contenedor-retiros{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    width: 80%;
    border: 1px solid #100A38;
    align-items: center;
    border-radius: 10px;
    background-color: #F6F1EE;
}

.contenedor-retiros h1{
    text-align: center;
    font-size: 40px;
}

.contenedor-retiros input{
    height: 15%;
    width: 80%;
    border-radius: 7px;
    font-size: 18px;
}

.contenedor-retiros input::placeholder{
    font-size: 15px;
}

.contenedor-retiros button{
    padding: 20px 50px;
    cursor: pointer;
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    border: none;
    border-radius: 7px;
    color: aliceblue;
    font-size: 17px;
    font-weight: bold;
}

.contenedor-retiros button:hover{
  box-shadow: 0.1rem 0.1rem 1rem black;
}


/*-----ESTILOS RETIRO EXITOSO-----*/
.retiro-exitoso{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEDED;
}

.imagen-datos-retiro{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 75%;
  align-items: center;
}

.imagen-datos-retiro img{
  height: 20%;
  width: 20%;
}

.imagen-datos-retiro h1{
  margin-top: 8%;
  color: #6217EE;
}

.contenedor-datos-retiro{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dato{
  border: 1px solid grey;
  width: 100%;
  height: 20%;
  background-color: #F6F1EE;
}

.dato h3{
  font-size: 20px;
  font-weight: bold;
}

.dato p{
  font-size: 20px;
  font-weight: 500;
}


/*-----ESTILOS TRANSFERIR-----*/
.contenedor-transferir{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EEEDED;
}

.container-transferir{
    width: 70%;
    height: 90%;
    
}

.contenedor-imagen-section-transferir{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.contenedor-transferir img{
    height: 25%;
}

.contenedor-transferencias{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 80%;
    border: 1px solid #100A38;
    align-items: center;
    border-radius: 10px;
    background-color: #F6F1EE;
}

.contenedor-transferencias h1{
    text-align: center;
    font-size: 40px;
}

.contenedor-transferencias input{
    height: 9%;
    width: 80%;
    border-radius: 7px;
    font-size: 16px;
}

.contenedor-transferencias input::placeholder{
    font-size: 15px;
}

.contenedor-transferencias button{
    padding: 20px 50px;
    cursor: pointer;
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    border: none;
    border-radius: 7px;
    color: aliceblue;
    font-size: 17px;
    font-weight: bold;
}

.contenedor-transferencias button:hover{
  box-shadow: 0.1rem 0.1rem 1rem black;
}


/*-----ESTILOS TRANSFERENCIA EXITOSA-----*/
.transferencia-exitosa{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEDED;
}

.imagen-datos-transferencia{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 75%;
  align-items: center;
}

.imagen-datos-transferencia img{
  height: 20%;
  width: 20%;
}

.imagen-datos-transferencia h1{
  margin-top: 8%;
  color: #6217EE;
}

.contenedor-datos-transferencia{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dato{
  border: 1px solid grey;
  width: 100%;
  height: 20%;
  background-color: #F6F1EE;
}

.dato h3{
  font-size: 20px;
  font-weight: bold;
}

.dato p{
  font-size: 20px;
  font-weight: 500;
}


/*-----ESTILOS CONSIGNAR-----*/
.contenedor-consignar{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EEEDED;
}

.container-consignar{
    width: 70%;
    height: 90%;
    
}

.contenedor-imagen-section-consignar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.contenedor-consignar img{
    height: 25%;
}

.contenedor-consignaciones{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 80%;
    border: 1px solid #100A38;
    align-items: center;
    border-radius: 10px;
    background-color: #F6F1EE;
}

.contenedor-consignaciones h1{
    text-align: center;
    font-size: 40px;
}

.contenedor-consignaciones input{
    height: 9%;
    width: 80%;
    border-radius: 7px;
    font-size: 16px;
}

.contenedor-consignaciones select{
    height: 9%;
    width: 80%;
    border-radius: 7px;
    font-size: 16px;
}

.contenedor-consignaciones input::placeholder{
    font-size: 15px;
}

.contenedor-consignaciones button{
    padding: 20px 50px;
    cursor: pointer;
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    border: none;
    border-radius: 7px;
    color: aliceblue;
    font-size: 17px;
    font-weight: bold;
}

.contenedor-consignaciones button:hover{
  box-shadow: 0.1rem 0.1rem 1rem black;
}


/*-----ESTILOS CONSIGNACION EXITOSA-----*/
.consignacion-exitosa{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEDED;
}

.imagen-datos{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 75%;
  align-items: center;
}

.imagen-datos img{
  height: 20%;
  width: 20%;
}

.imagen-datos h1{
  margin-top: 8%;
  color: #6217EE;
}

.contenedor-datos{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dato{
  border: 1px solid grey;
  width: 100%;
  height: 20%;
  background-color: #F6F1EE;
}

.dato h3{
  font-size: 20px;
  font-weight: bold;
}

.dato p{
  font-size: 20px;
  font-weight: 500;
}

/*-----ANIMACION LOADING-----*/
.contenedor-loading{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
    margin: auto;
    margin-top: 20%;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #210BF3;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }


/*-----ANIMACION HAMSTER-----*/
.contenedor-loading-hamster{
    margin-top: 20%;
    margin-left: 45%;
}

.contenedor-loading-hamster:first-child{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel-and-hamster {
    --dur: 1s;
    position: relative;
    width: 12em;
    height: 12em;
    font-size: 14px;
  }
  
  .wheel,
  .hamster,
  .hamster div,
  .spoke {
    position: absolute;
  }
  
  .wheel,
  .spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .wheel {
    background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
    z-index: 2;
  }
  
  .hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em,1.85em);
    transform-origin: 50% 0;
    z-index: 1;
  }
  
  .hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    background: hsl(30,90%,55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
          0.75em -1.55em 0 hsl(30,90%,90%) inset;
    top: 0;
    left: -2em;
    width: 2.75em;
    height: 2.5em;
    transform-origin: 100% 50%;
  }
  
  .hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hsl(0,90%,85%);
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
  }
  
  .hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0,0%,0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
  }
  
  .hamster__nose {
    background: hsl(0,90%,75%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em;
    height: 0.25em;
  }
  
  .hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hsl(30,90%,90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
          0.15em -0.5em 0 hsl(30,90%,80%) inset;
    top: 0.25em;
    left: 2em;
    width: 4.5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
  }
  
  .hamster__limb--fr,
  .hamster__limb--fl {
    clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
  }
  
  .hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
    transform: rotate(15deg) translateZ(-1px);
  }
  
  .hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
    transform: rotate(15deg);
  }
  
  .hamster__limb--br,
  .hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
  }
  
  .hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
    transform: rotate(-25deg) translateZ(-1px);
  }
  
  .hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
    transform: rotate(-25deg);
  }
  
  .hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0,90%,85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
  }
  
  .spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
          linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
  }
  
  /* Animations */
  @keyframes hamster {
    from, to {
      transform: rotate(4deg) translate(-0.8em,1.85em);
    }
  
    50% {
      transform: rotate(0) translate(-0.8em,1.85em);
    }
  }
  
  @keyframes hamsterHead {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(8deg);
    }
  }
  
  @keyframes hamsterEye {
    from, 90%, to {
      transform: scaleY(1);
    }
  
    95% {
      transform: scaleY(0);
    }
  }
  
  @keyframes hamsterEar {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(12deg);
    }
  }
  
  @keyframes hamsterBody {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-2deg);
    }
  }
  
  @keyframes hamsterFRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(50deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-30deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterFLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-30deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(50deg);
    }
  }
  
  @keyframes hamsterBRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-60deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(20deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterBLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(20deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-60deg);
    }
  }
  
  @keyframes hamsterTail {
    from, 25%, 50%, 75%, to {
      transform: rotate(30deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(10deg) translateZ(-1px);
    }
  }
  
  @keyframes spoke {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(-1turn);
    }
  }

  .error_cuenta_nueva {
    color: red;
    display: none;
  }

  .error_usuario_nuevo {
    color: red;
    display: none;
  }

  .confirmacion_clave {
    color: red;
    display: none;
  }

  .error_clave_nueva {
    color: red;
    display: none;
  }

  .error_saldo_inicial {
    color: red;
    display: none;
  }

  .cuenta_nueva {
    border: 2px solid red;
  }

  .usuario_nuevo {
    border: 2px solid red;
  }

  .clave_nueva {
    border: 2px solid red;
  }

  .confirmacion_clave_nueva {
    border: 2px solid red;
  }

  .saldo_inicial {
    border: 2px solid red;
  }

  .alerta_cantidad {
    border: 2px solid red;
  }
  form input [type="button"]{
    width: 100px;
    cursor: pointer;
    }
    .ancho{
      width: 270px;
  }